{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}
    <title>Sabu blog</title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body class="bg-neutral-900">
    <header class="bg-neutral-950 py-3 px-5 flex justify-between items-center gap-4 text-white">
      <a class="text-3xl" href="/">Sabu Blog</a>
      <form action="" method="" class="bg-slate-600 p-1 w-3/6 flex gap-1">
        <button class="btn_search-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
            />
          </svg>
        </button>
        <input class="w-full bg-none outline-none" type="text" placeholder="Search anything..." />
      </form>
      <nav>
        <ul class="flex gap-2">
          <li><a class="hover:bg-teal-700 p-3" href="sing-in">Sing in </a></li>
          <li><a class="outline outline-teal-800 p-3 hover:bg-indigo-500 hover:outline-none" href="/create_post/">Create post </a></li>
          {% comment %}
          <li><a herf="">Create post </a></li>
          {% endcomment %}
        </ul>
{% comment %}         <div>
          <div class="container_user-picture">
            <img src="https://robohash.org/n" alt="user picture" />
          </div>
          <ul>
            <li>Profile</li>
            <li>Dashboard</li>
            <li>Create Post</li>
            <li>Sing out</li>
          </ul>
        </div> {% endcomment %}
      </nav>
    </header>
    {% block content %} {% endblock %}
  </body>
</html>
